<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.julieannmoore.retailprofitcalculator">
    // Give permission to connect with internet to connect to mySQL database
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mActivities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mActivities.MainActivity">
            <intent-filter>
                <action android:name="com.example.julieannmoore.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mActivities.SummaryActivity"
            android:parentActivityName=".mActivities.MainActivity" />
        <activity
            android:name=".mActivities.AddStoreActivity"
            android:parentActivityName=".mActivities.MainActivity" />
        <activity
            android:name=".mActivities.StoreListActivity" />
        <activity
            android:name=".mActivities.ProductListActivity"/>
        <activity
            android:name=".mActivities.AddProductActivity"
            android:parentActivityName=".mActivities.StoreListActivity" />
        <activity
            android:name=".mActivities.FormulaListActivity"
            android:parentActivityName=".mActivities.MainActivity" />
        <activity android:name=".mActivities.CalculatorActivity"
            android:parentActivityName=".mActivities.FormulaListActivity"></activity>
    </application>

</manifest>