<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.julieannmoore.retailprofitcalculator">
    // Give permission to connect with internet to connect to mySQL database
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.julieannmoore.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SummaryActivity"
            android:parentActivityName=".AddProductActivity" />
        <activity
            android:name=".AddStoreActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FormulaActivity"
            android:parentActivityName=".SummaryActivity" />
        <activity
            android:name=".StoreListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProductListActivity"
            android:parentActivityName=".StoreListActivity" />
        <activity
            android:name=".AddProductActivity"
            android:parentActivityName=".ProductListActivity" />
        <activity android:name=".UpdateStoreActivity"></activity>
    </application>

</manifest>